.form-input {
  position: relative;
  margin-bottom: 30px;

  select {
    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 14px 15px;
    border-radius: 5px;
    text-transform: capitalize;
  }

  label {
    position: absolute;
    left: 15px;
    color: #8b8b8b;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .25s ease;
    user-select: none;
  }

  .text-input {
    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 14px 15px;
    border-radius: 5px;

    &:not(:placeholder-shown) + label {
      top: -3px;
      color: #8b8b8b;
      padding: 0 10px;
      background: #fff;
      display: inline-block;
    }

    &:focus {
      border: 1px solid #00b853;

      & + label {
        top: -3px;
        color: #00b853;
        padding: 0 10px;
        background: #fff;
        display: inline-block;
      }
    }
  }
}

.form-button {
  background: #00b853;
  padding: 14px 15px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;

  &:disabled {
    background: #e0e0e0;
  }
}

.form-check-box {
  margin-bottom: 15px;

  input {
    vertical-align: middle;
    margin-right: 5px;
  }
}